__pycache__/
./__pycache__
././__pycache__
# exclude everything
possibilities/*

# exception to the rule
!possibilities/.gitkeep
!possibilities/possibilitiesagent1.txt
!possibilities/possibilitiesagent2.txt

game.log